doctype html
html
	head
		title= title
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='manifest', href='/app/manifest.json')
		link(rel='stylesheet', href='/dist/stylesheets/css/main.min.css')
	body
		block content

		script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBHgYRuBkxgE5ORR1YVgawYMuhilpFXhbo&libraries=places')
		script(src="/dist/javascripts/node-static.js")
		script(src="/dist/javascripts/main-bundle.js")

		script.
			if ('serviceWorker' in navigator) {
			window.addEventListener('load', function() {
			navigator.serviceWorker.register('/serviceworker.js').then(function(registration) {
			// Registration was successful
			console.log('ServiceWorker registration successful with scope: ', registration.scope);
			}, function(err) {
			// registration failed :(
			console.log('ServiceWorker registration failed: ', err);
			});
			});
			}

