doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/foodmaniac/css/main.eb5e44d0.css')
	body
		block content

		script(src="/javascripts/node-static.c3cf0396.js")
		script(src="/javascripts/main-bundle.a68d335b.js")
