doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/foodmaniac/css/main.css')
	body
		block content

		script(src="/javascripts/node-static.js")
		script(src="/javascripts/main-bundle.js")
