@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600');

body, html{
	margin: 0;
	padding: 0;
	font-family: $primary-font;
}

.container{
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row{
	margin-right: -15px;
    margin-left: -15px;
}

.container, .row{
	box-sizing:border-box;
	&:after{
		display: table;
    	content: " ";
		clear:both;
	}
}

.clearfix{
	clear:both;
}

.text-right{
	text-align:right;
}

.col-sm-12, .col-sm-11, .col-sm-10, .col-sm-9, .col-sm-8, .col-sm-7, .col-sm-6, .col-sm-5, .col-sm-4, .col-sm-3, .col-sm-2, .col-sm-1, .col-lg-12, .col-lg-11, .col-lg-10, .col-lg-9, .col-lg-8, .col-lg-7, .col-lg-6, .col-lg-5, .col-lg-4, .col-lg-3, .col-lg-2, .col-lg-1{
	position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float:left;
    box-sizing:border-box;
}

@for $i from 1 through 12 {
	.col-lg-#{$i}{
		width:((100% / 12) * $i);
	}
}
	

@media (min-width: 768px){
	.container{
		width: 750px;
	}
}

@media (min-width: 992px){
	.container{
		width: 970px;
	}
}

@media (min-width: 1200px){
	.container{
		width: 1170px;
	}
}

@media (max-width: 768px){
	@for $i from 1 through 12 {
		.col-sm-#{$i}{
			width:((100% / 12) * $i);
		}
	}
}