header{
	background: $primary-color;
	.logo{
		display: inline-block;
		a{
			font-size: 32px;
			line-height: 40px;
			color: #fff;
			padding: 10px 0;
			display: block;
			text-decoration: none;
		}
	}
	.navmenu{
		display: inline-block;
		float: right;
		ul{
			list-style-type: none;
			padding: 0;
			margin: 0;
			li{
				padding: 16px 8px;
				display: inline-block;
				a{
					color: #fff;
					font-size: 16px;
					line-height: 20px;
					padding: 8px;
					text-decoration: none;
					display: block;
					&:hover{
						opacity: 0.8;
					}
				}
			}
		}
	}
	.mobileNavBtn{
		display: none;
	}
}

#sideNavMenu{
	display: none;
}

#offlineMsg, #orientationMsg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
}

#offlineMsg {
    z-index: 6;
    background: #000;
    color: #fff;
    line-height: 34px;
    font-size: 16px;
    height: 0;
    @include transition;
    overflow: hidden;
}

#orientationMsg {
	z-index: 7;
    bottom: 0;
    background: #fff;
    color: #000;
    display: none;
    font-size: 22px;
    font-family: inherit;
    padding: 100px 0;
}

@media screen and (max-width: 768px){
	header{
		.logo{
			text-align: center;
			width: 50%;
			margin: 0 auto;
			display: block;
			a{
				font-size: 24px;
			}
		}
		.navmenu{
			display: none;
		}
		.mobileNavBtn{
			display: inline-block;
			float: left;
			margin-left: 15px;
			span{
				display: block;
				height: 2px;
				background-color: #fff;
				width: 32px;
				position: relative;
				margin-top: 29px;
				&:before, &:after{
					width: 32px;
					height: 2px;
					background-color: #fff;
					content: '';
					display: block;
				}
				&:before{
					position: absolute;
					top: -6px;
				}
				&:after{
					position: absolute;
					top: 6px;
				}
			}
		}
	}
	#sideNavMenu{
		display: block;
	    left: -100%;
	    position: fixed;
	    height: 100vh;
	    width: 60%;
	    z-index: 100;
	    background: #000;
	    @include transition;
	    padding-left: 25px;
	    top: 0;
	    .closeMenuBtn{
	    	margin: 10px 0;
    		padding-right: 25px;
    		a{
    			display: inline-block;
			    font-size: 24px;
			    color: #fff;
			    text-decoration: none;
    		}
	    }
	    &.showMenu{
	    	left: 0;
	    	@include transition;
	    }
	    ul{
	    	margin: 0;
		    padding: 0;
		    list-style-type: none;
		    li{
		    	display: block;
    			padding: 5px 0;
    			a{
    				color: #fff;
    				text-decoration: none;
    				display: block;	
    			}
		    }
	    }
	}
}